html, body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
    display: block;
}

#landing-page{
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-image: url(assets/background.jpg);
}

.welcome-text{
    position: absolute;
    margin: 0;
    width: 100%;
    top: 45%;
    text-align: center;
    color: white;
}

.nav{
    top: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    display: block;
}

.nav a{
    text-decoration:none;
    color: black;
}

.nav a:hover{
    color: rgb(91, 91, 91);
}

ul{
    list-style: none;
    text-align: right;
    padding: 0;
}

.icon{
    float: left;
}

li{
    font-size: 16px;
    padding: 15px 25px;
    display: inline-block;
}

.button-green{
    background-color: rgb(187, 206, 210);
    color: black;
    border-radius: 5px;
}

.mobile{
    display: none;
}

div{
    display: block;
}

#about-me {
    padding: 2em 0;
}

.section-introduction, .section-education, .section-working {
    text-align: center;
}

.content-perkenalan {
    font-size: 1.2em;
    width: 80%;
    max-width: 24em;
    margin: 1em auto;
    text-align: justify;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.section-education, .section-working {
    display: inline-block;
    margin-top: 5em;
}

@media only screen and (min-width: 700px){
    .section-working, .section-education {
        width: 49.5%;
        vertical-align: top;
    }
}


@media only screen and (max-width: 700px){
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
}

